<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:replace="layout/header :: *"></th:block>

<h2>Manage Users</h2>

<form th:action="@{/admin/addUser}" method="post" th:object="${user}">
    <label>Name:</label>
    <input type="text" th:field="*{name}" required>
    <label>Email:</label>
    <input type="email" th:field="*{email}" required>
    <label>Password:</label>
    <input type="password" th:field="*{password}" required>
    <button type="submit" class="btn">Add User</button>
</form>

<h3>Users List</h3>
<table border="1" width="100%">
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>
    <tr th:each="u : ${users}">
        <td th:text="${u.name}"></td>
        <td th:text="${u.email}"></td>
    </tr>
</table>

<th:block th:replace="layout/footer :: *"></th:block>
	
</body>
</html>